[mysqld]
user = root
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
socket = /tmp/mysql.sock

log = /data/logs/mysqld.log
log-error = /data/logs/mysqld.error.log

skip_name_resolve

# Transaction logs
log-bin = mysql-server
binlog-dir = /var/lib/mysql

!includedir /etc/mysql/conf.d
