[mysqld]
user = root
datadir = /data/db
port = 13306
bind-address = 0.0.0.0
socket = /tmp/mysql.sock

log = /data/logs/mysqld.log
log-error = /data/logs/mysqld.error.log

# Transaction logs
log-bin = mysql-server
binlog-dir = /data/db

!includedir /data/db
