[mysqld]
user = mysql
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
socket = /tmp/mysql.sock

#log = /data/logs/mysqld.log
#log-error = /data/logs/mysqld.error.log

skip_name_resolve

# Transaction logs
#log-bin = mysql-server
#binlog-dir = /data/db

#!includedir /data/db
log-bin = mysql-server
binlog-dir = /var/lib/mysql

# Performance options
# https://www.percona.com/blog/2014/01/28/10-mysql-settings-to-tune-after-installation/
innodb_buffer_pool_size = 1G
innodb_log_file_size = 512M
innodb_file_per_table = ON

!includedir /etc/mysql/conf.d
